body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#chatWindow {
  width: 30%;
  padding: 1em;
  border: solid 1px #ccc;
  margin: auto;
  background-color: #ddd;

}

#footer {
  border-top: solid 1px #ccc;
  margin-top: 1.5em;
}

#header {
  border-bottom: solid 1px #ccc;
  margin: 0 0 1.5em 0;
}

#nav a, #footer a {
  display: inline-block;
  margin: 0 .75em 1em 0;
  font-weight: 700;
}

.chat-messages {
  border: solid 1px #ccc;
  padding: .5em;
  margin-bottom: .5em;
  background-color: #fff;
  border-radius: .3em;
  overflow-y: scroll;
  min-height: 100px;
  text-align: left;
  max-height: 300px;
}

.chat-messages p {
  background-color: lightblue;
  padding: .75em;
  border-radius: 1em;
  color: 'red';
  font-weight: 500;
}
