.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*-----/ Added CSS /-----*/


/* font-weights: 300, 400, 600, 700, 900 */
canvas {
  background-color: #000;
  border-radius: .5em;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 900;
}

#footer {
  border-top: solid 1px #ccc;
  margin-top: 1.5em;
}

#header {
  border-bottom: solid 1px #ccc;
  margin: 0 0 1.5em 0;
}

#nav a, #footer a {
  display: inline-block;
  margin: 0 .75em 1em 0;
  font-weight: 700;
}

#wrapper {
  margin: auto;
  display: flex;
  width: 70%;
}

#canvas {
  position: relative;
  width: 500px;
  margin: 2.5em 0;
}

#chatWindow {
  width: 30%;
  padding: 1em;
  border: solid 1px #ccc;
  margin: 2.5em .5em 2.5em .5em;
  background-color: #eee;
  border-radius: .5em;
}

#canvas .score, .timer {
  color: #666;
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
}

#toolbox li {
  font-size: 1em;
  background-color: #ddd;
  margin: 0;
  padding: .5em;
}

.score {
  display: inline-block;
  position: absolute;
  top: -1.5em;
  left: 1em;
}

.timer {
  display: inline-block;
  position: absolute;
  top: -1.5em;
  right: 1em;
}

.chat-messages {
  border: solid 1px #ccc;
  padding: .5em;
  margin-bottom: .5em;
  background-color: #fff;
  border-radius: .3em;
  overflow-y: scroll;
  min-height: 100px;
  text-align: left;
  max-height: 300px;
}

.chat-messages p {
  background-color: lightblue;
  padding: .75em;
  border-radius: .6em;
  font-weight: 500;
  overflow-wrap: break-word;
}

.how-to-play {
  width: 80%;
  margin: auto;
}
